<%= form_for [@bot, @support] do |f| %>
<div class="panel-body">
  <div class="form-group">
    <%= f.label :coordinate_x, 'Friend coord X' %><br>
    <%= f.number_field :coordinate_x %>
  </div>
  <div class="form-group">
    <%= f.label :coordinate_y, 'Friend coord Y' %><br>
    <%= f.number_field :coordinate_y %>
  </div>
  <div class="form-group">
    <%= f.label :tavern_x, 'Tavern button coord X' %><br>
    <%= f.number_field :tavern_x %>
  </div>
  <div class="form-group">
    <%= f.label :tavern_y, 'Tavern button coord Y' %><br>
    <%= f.number_field :tavern_y %>
  </div>
  <div class="actions">
    <%= f.submit @support.persisted? ? "Update friend" : "Create friend", class: "btn btn-primary" %>
  </div>
</div>

<% if @support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support.errors.count, "error") %> prohibited this support from being saved:</h2>
      <ul>
      <% @support.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
