<div class="panel panel-default">
  <div class="panel-heading">Listing buidlings</div>
  <div class="panel-body">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Coordinates</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @buildings.each do |building| %>
          <tr>
            <td><%= building.name %></td>
            <td><%= building.type %></td>
            <td><%= "#{building.coordinate_x}, #{building.coordinate_y}" %></td>
            <td><%= link_to 'Show', bot_building_path(building.bot, building), class: "btn btn-primary" %></td>
            <td><%= link_to 'Edit', edit_bot_building_path(building.bot, building), class: "btn btn-primary" %></td>
            <td><%= link_to 'Destroy', bot_building_path(building.bot, building), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New building', new_bot_building_path, class: "btn btn-primary" %>
  </div>
  <div class="panel-footer">
    <%= link_to "Main page", root_path %> |
    <%= link_to "Bots", bots_path %> |
    <%= link_to "Friends", bot_friend_supports_path %>
  </div>
</div>
