<div class="panel panel-default">
  <div class="panel-heading">Probability</div>
  <div class="panel-body">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Probability</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% ["Gold", "Supply", "Raw materials", "Medals",
         "Development points", "Diamonds"].each do |name| %>
          <tr>
            <td><%= name %></td>
            <td><%= which_quantity(name, @probability) %></td>
            <td><%= percentage(name, @probability) %>%</td>
            <td><%= link_to '+', add_quant_probabilities_path(name: name), class: "btn btn-primary" %></td>
            <td><%= link_to '-', subtract_quant_probabilities_path(name: name), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    Total: <%= total(@probability) %>
   <%= link_to 'Destroy', probability_path(@probability), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  </div>
  <div class="panel-footer">
    <%= link_to "Main page", root_path %> |
    <%= link_to "Bots", bots_path %>
  </div>
  <div class="row">
    <div class="col-md-6" id="chart-container">
      <%= @chart.render() %>
    </div>
    <div class="col-md-6" id="chart-container2">
      <%= @chart2.render() %>
    </div>
  </div>
</div>